Html Webpack Plugin:<pre>
  Error: Child compilation failed:
  Entry module not found: Error: Can't resolve 'C:\Git\erndtransfer\vue\erndtransfer-front\index.html' in 'C:\Git\ernd  transfer\vue\erndtransfer-front':
  Error: Can't resolve 'C:\Git\erndtransfer\vue\erndtransfer-front\index.html' in 'C:\Git\erndtransfer\vue\erndtransfe  r-front'
  
  - compiler.js:76 
    [erndtransfer-front]/[html-webpack-plugin]/lib/compiler.js:76:16
  
  - Compiler.js:300 
    [erndtransfer-front]/[webpack]/lib/Compiler.js:300:11
  
  - Compiler.js:510 
    [erndtransfer-front]/[webpack]/lib/Compiler.js:510:14
  
  - Tapable.js:202 next
    [erndtransfer-front]/[tapable]/lib/Tapable.js:202:11
  
  - CachePlugin.js:78 Compiler.<anonymous>
    [erndtransfer-front]/[webpack]/lib/CachePlugin.js:78:5
  
  - Tapable.js:206 Compiler.applyPluginsAsyncSeries
    [erndtransfer-front]/[tapable]/lib/Tapable.js:206:13
  
  - Compiler.js:507 
    [erndtransfer-front]/[webpack]/lib/Compiler.js:507:11
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [erndtransfer-front]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:683 
    [erndtransfer-front]/[webpack]/lib/Compilation.js:683:19
  
  - Tapable.js:202 next
    [erndtransfer-front]/[tapable]/lib/Tapable.js:202:11
  
  - index.js:126 LastCallWebpackPlugin.process
    [erndtransfer-front]/[last-call-webpack-plugin]/index.js:126:12
  
  - index.js:197 Compilation.<anonymous>
    [erndtransfer-front]/[last-call-webpack-plugin]/index.js:197:12
  
  - Tapable.js:206 Compilation.applyPluginsAsyncSeries
    [erndtransfer-front]/[tapable]/lib/Tapable.js:206:13
  
  - Compilation.js:674 
    [erndtransfer-front]/[webpack]/lib/Compilation.js:674:11
  
  - Tapable.js:202 next
    [erndtransfer-front]/[tapable]/lib/Tapable.js:202:11
  
  - index.js:126 LastCallWebpackPlugin.process
    [erndtransfer-front]/[last-call-webpack-plugin]/index.js:126:12
  
</anonymous></anonymous></pre><script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script><script type=text/javascript src=/static/js/vendor.ee987f4daf07f4f02d0e.js></script><script type=text/javascript src=/static/js/app.2943c4466b3507b44041.js></script>