<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anyfive.erndtransfer.domain.mapper.BsnsMapper">

    <select id="retriveBsnsList" resultType="BsnsDto" parameterType="BsnsDto">      
      SELECT
            NO,
            SELE_YY,
            ERND_BSNS_CD,
            SELE_YY_BSNS_CD,
            ERND_BSNS_NAME_1,
            ERND_BSNS_NAME_2,
            ERND_BSNS_NAME_3,
            ERND_BSNS_NAME_4,
            DBRAIN_CD,
            MOEF_DBRAIN_CD,
            ERND_DBRAIN_CD,
            BSNS_YY,
            JRSD_CD,
            JRSD_NAME,
            ACTG_CD,
            ACTG_NAME,
            FILD_NAME,
            FILD_CD,
            SECTOR_NAME,
            SECTOR_CD,
            PROGRAM_ID,
            PROGRAM_NAME,
            PROGRAM_CODE,
            UNIT_ID,
            UNIT_NAME,
            UNIT_CD,
            PTC_ID,
            PTC_NAME,
            PTC_CD,
            BSNS_CD,
            BUD_AM,
            STAC_AM,
            BRDN_BSNS_NAME,
            BRDN_BSNS_NAME2,
            IRIS_BSNS_CD,
            YY,
            PROGRAM_BSNS_CD,
            UNIT_BSNS_CD,
            PTC_BSNS_CD,
            PTC_BSNS_NAME,
            Z1,
       FROM IRIS_BSNS_CD_MAP
      WHERE 1=1
        <if test="seleYy != null and seleYy != ''">
            AND SELE_YY = #{seleYy}
        </if>
        <if test="erndBsnsCd != null and erndBsnsCd != ''">
            AND ERND_BSNS_CD LIKE '%'||'#{erndBsnsCd}'||'%'
        </if>
        <if test="irisBsnsCd != null and irisBsnsCd != ''">
            AND IRIS_BSNS_CD LIKE '%'||'#{irisBsnsCd}'||'%'
        </if>
    </select>
    
    <select id="retriveBsnsTempList" resultType="BsnsTempDto" parameterType="BsnsTempDto">      
      SELECT
            rownum as no,
            '' AS ERROR_MSG,
            UPLOAD_DE,
            UPLOAD_FILE_NM,
            EXCEL_ROW_NUM,
            SELE_YY,
            ERND_BSNS_CD,
            SELE_YY_BSNS_CD,
            ERND_BSNS_NAME_1,
            ERND_BSNS_NAME_2,
            ERND_BSNS_NAME_3,
            ERND_BSNS_NAME_4,
            DBRAIN_CD,
            MOEF_DBRAIN_CD,
            ERND_DBRAIN_CD,
            BSNS_YY,
            JRSD_CD,
            JRSD_NAME,
            ACTG_CD,
            ACTG_NAME,
            FILD_NAME,
            FILD_CD,
            SECTOR_NAME,
            SECTOR_CD,
            PROGRAM_ID,
            PROGRAM_NAME,
            PROGRAM_CODE,
            UNIT_ID,
            UNIT_NAME,
            UNIT_CD,
            PTC_ID,
            PTC_NAME,
            PTC_CD,
            BSNS_CD,
            BUD_AM,
            STAC_AM,
            BRDN_BSNS_NAME,
            BRDN_BSNS_NAME2,
            IRIS_BSNS_CD,
            YY,
            PROGRAM_BSNS_CD,
            UNIT_BSNS_CD,
            PTC_BSNS_CD,
            PTC_BSNS_NAME,
            Z1,
            /* 오류여부 테스트용 */
            CASE WHEN MOD(ROWNUM, 2) = 1 THEN 'Y' ELSE 'N' END AS ERROR_YN 
       FROM IRIS_BSNS_CD_MAP_TEMP
      WHERE 1=1
      <if test="uploadDe != null and uploadDe != ''">
          AND UPLOAD_DE = #{uploadDe}
      </if>
      <if test="uploadFileNm != null and uploadFileNm != ''">
          AND UPLOAD_FILE_NM = #{uploadFileNm}
      </if>  
    </select>
    
    
    <insert id="registBsns" parameterType="BsnsDto">
      <selectKey resultType="int" keyProperty="no" order="BEFORE">
        SELECT MAX(NO) FROM IRIS_BSNS_CD_MAP
      </selectKey>
      INSERT INTO IRIS_BSNS_CD_MAP
      (
        NO,
        SELE_YY,
        ERND_BSNS_CD,
        SELE_YY_BSNS_CD,
        ERND_BSNS_NAME_1,
        ERND_BSNS_NAME_2,
        ERND_BSNS_NAME_3,
        ERND_BSNS_NAME_4,
        DBRAIN_CD,
        MOEF_DBRAIN_CD,
        ERND_DBRAIN_CD,
        BSNS_YY,
        JRSD_CD,
        JRSD_NAME,
        ACTG_CD,
        ACTG_NAME,
        FILD_NAME,
        FILD_CD,
        SECTOR_NAME,
        SECTOR_CD,
        PROGRAM_ID,
        PROGRAM_NAME,
        PROGRAM_CODE,
        UNIT_ID,
        UNIT_NAME,
        UNIT_CD,
        PTC_ID,
        PTC_NAME,
        PTC_CD,
        BSNS_CD,
        BUD_AM,
        STAC_AM,
        BRDN_BSNS_NAME,
        BRDN_BSNS_NAME2,
        IRIS_BSNS_CD,
        YY,
        PROGRAM_BSNS_CD,
        UNIT_BSNS_CD,
        PTC_BSNS_CD,
        PTC_BSNS_NAME,
        Z1
      ) VALUES
      (
        ${no},
        #{seleYy},
        #{erndBsnsCd},
        #{seleYyBsnsCd},
        #{erndBsnsName1},
        #{erndBsnsName2},
        #{erndBsnsName3},
        #{erndBsnsName4},
        #{dbrainCd},
        #{moefDbrainCd},
        #{erndDbrainCd},
        #{bsnsYy},
        #{jrsdCd},
        #{jrsdName},
        #{actgCd},
        #{actgName},
        #{fildName},
        #{fildCd},
        #{sectorName},
        #{sectorCd},
        #{programId},
        #{programName},
        #{programCode},
        #{unitId},
        #{unitName},
        #{unitCd},
        #{ptcId},
        #{ptcName},
        #{ptcCd},
        #{bsnsCd},
        #{budAm},
        #{stacAm},
        #{brdnBsnsName},
        #{brdnBsnsName2},
        #{irisBsnsCd},
        #{yy},
        #{programBsnsCd},
        #{unitBsnsCd},
        #{ptcBsnsCd},
        #{ptcBsnsName},
        #{z1}
      )
    </insert>
    
     <insert id="registBsnsTemp" parameterType="BsnsTempDto">
      INSERT INTO IRIS_BSNS_CD_MAP_TEMP
      (
        UPLOAD_DE,
        UPLOAD_FILE_NM,
        EXCEL_ROW_NUM,
        SELE_YY,
        ERND_BSNS_CD,
        SELE_YY_BSNS_CD,
        ERND_BSNS_NAME_1,
        ERND_BSNS_NAME_2,
        ERND_BSNS_NAME_3,
        ERND_BSNS_NAME_4,
        DBRAIN_CD,
        MOEF_DBRAIN_CD,
        ERND_DBRAIN_CD,
        BSNS_YY,
        JRSD_CD,
        JRSD_NAME,
        ACTG_CD,
        ACTG_NAME,
        FILD_NAME,
        FILD_CD,
        SECTOR_NAME,
        SECTOR_CD,
        PROGRAM_ID,
        PROGRAM_NAME,
        PROGRAM_CODE,
        UNIT_ID,
        UNIT_NAME,
        UNIT_CD,
        PTC_ID,
        PTC_NAME,
        PTC_CD,
        BSNS_CD,
        BUD_AM,
        STAC_AM,
        BRDN_BSNS_NAME,
        BRDN_BSNS_NAME2,
        IRIS_BSNS_CD,
        YY,
        PROGRAM_BSNS_CD,
        UNIT_BSNS_CD,
        PTC_BSNS_CD,
        PTC_BSNS_NAME,
        Z1
      ) VALUES
      (
        #{uploadDe},
        #{uploadFileNm},
        #{excelRowNum},
        #{seleYy},
        #{erndBsnsCd},
        #{seleYyBsnsCd},
        #{erndBsnsName1},
        #{erndBsnsName2},
        #{erndBsnsName3},
        #{erndBsnsName4},
        #{dbrainCd},
        #{moefDbrainCd},
        #{erndDbrainCd},
        #{bsnsYy},
        #{jrsdCd},
        #{jrsdName},
        #{actgCd},
        #{actgName},
        #{fildName},
        #{fildCd},
        #{sectorName},
        #{sectorCd},
        #{programId},
        #{programName},
        #{programCode},
        #{unitId},
        #{unitName},
        #{unitCd},
        #{ptcId},
        #{ptcName},
        #{ptcCd},
        #{bsnsCd},
        #{budAm},
        #{stacAm},
        #{brdnBsnsName},
        #{brdnBsnsName2},
        #{irisBsnsCd},
        #{yy},
        #{programBsnsCd},
        #{unitBsnsCd},
        #{ptcBsnsCd},
        #{ptcBsnsName},
        #{z1}
      )
    </insert>
</mapper>