<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anyfive.erndtransfer.domain.mapper.BsnsMapper">

    <sql id="bsnsField">
      SELE_YY,
      ERND_BSNS_CD,
      SELE_YY_BSNS_CD,
      ERND_BSNS_NAME_1,
      ERND_BSNS_NAME_2,
      ERND_BSNS_NAME_3,
      ERND_BSNS_NAME_4,
      DBRAIN_CD,
      MOEF_DBRAIN_CD,
      ERND_DBRAIN_CD,
      BSNS_YY,
      JRSD_CD,
      JRSD_NAME,
      ACTG_CD,
      ACTG_NAME,
      FILD_NAME,
      FILD_CD,
      SECTOR_NAME,
      SECTOR_CD,
      PROGRAM_ID,
      PROGRAM_NAME,
      PROGRAM_CODE,
      UNIT_ID,
      UNIT_NAME,
      UNIT_CD,
      PTC_ID,
      PTC_NAME,
      PTC_CD,
      BSNS_CD,
      BUD_AM,
      STAC_AM,
      BRDN_BSNS_NAME,
      BRDN_BSNS_NAME2,
      IRIS_BSNS_CD,
      YY,
      PROGRAM_BSNS_CD,
      UNIT_BSNS_CD,
      PTC_BSNS_CD,
      PTC_BSNS_NAME,
      Z1
    </sql>

    <select id="retriveBsnsList" resultType="BsnsDto" parameterType="BsnsDto">      
    SELECT  ROWNUM AS NO,
            SEQ,
            <include refid="bsnsField"/>
      FROM
      ( 
        <if test="mappingYn != null">
            SELECT 
                SEQ,
                <include refid="bsnsField"/>
            FROM IRIS_BSNS_CD_MAP
            WHERE 'Y' = #{mappingYn}
            UNION ALL
            SELECT * FROM
            (SELECT 
                    9999 AS SEQ,
                    BIZ_REQST_YR AS SELE_YY,
                    BIZ_CD AS ERND_BSNS_CD,
                    '' AS SELE_YY_BSNS_CD,
                    BIZ_NM AS ERND_BSNS_NAME_1,
                    '' AS ERND_BSNS_NAME_2,
                    '' AS ERND_BSNS_NAME_3,
                    '' AS ERND_BSNS_NAME_4,
                    '' AS DBRAIN_CD,
                    '' AS MOEF_DBRAIN_CD,
                    '' AS ERND_DBRAIN_CD,
                    '' AS BSNS_YY,
                    '' AS JRSD_CD,
                    '' AS JRSD_NAME,
                    '' AS ACTG_CD,
                    '' AS ACTG_NAME,
                    '' AS FILD_NAME,
                    '' AS FILD_CD,
                    '' AS SECTOR_NAME,
                    '' AS SECTOR_CD,
                    '' AS PROGRAM_ID,
                    '' AS PROGRAM_NAME,
                    '' AS PROGRAM_CODE,
                    '' AS UNIT_ID,
                    '' AS UNIT_NAME,
                    '' AS UNIT_CD,
                    '' AS PTC_ID,
                    '' AS PTC_NAME,
                    '' AS PTC_CD,
                    '' AS BSNS_CD,
                    0 AS BUD_AM,
                    0 AS STAC_AM,
                    '' AS BRDN_BSNS_NAME,
                    '' AS BRDN_BSNS_NAME2,
                    '' AS IRIS_BSNS_CD,
                    '' AS YY,
                    '' AS PROGRAM_BSNS_CD,
                    '' AS UNIT_BSNS_CD,
                    '' AS PTC_BSNS_CD,
                    '' AS PTC_BSNS_NAME,
                    '' AS Z1
            FROM ERND_BIZ_CD
            ORDER BY BIZ_CD, BIZ_REQST_YR
            )
            WHERE 'N' = #{mappingYn}
        ORDER BY SEQ
        </if>
      ) A
      WHERE 1=1
      <if test="seleYy != null and seleYy != ''">
          AND SELE_YY = #{seleYy}
      </if>
      <if test="erndBsnsCd != null and erndBsnsCd != ''">
          AND ERND_BSNS_CD LIKE '%'||UPPER(#{erndBsnsCd})||'%' 
      </if>
      <if test="irisBsnsCd != null and irisBsnsCd != ''">
          AND IRIS_BSNS_CD LIKE '%'||UPPER(#{irisBsnsCd})||'%'
      </if>
      <if test="limit != null">
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
      </if>
  </select>
  
  <select id="retriveBsnsListCnt" resultType="Integer" parameterType="BsnsDto">      
    SELECT COUNT(*) FROM 
    (
    SELECT  ROWNUM AS NO,
            SEQ,
            <include refid="bsnsField"/>
      FROM
      ( 
        <if test="mappingYn != null">
            SELECT 
                SEQ,
                <include refid="bsnsField"/>
            FROM IRIS_BSNS_CD_MAP
            WHERE 'Y' = #{mappingYn}
            UNION ALL
            SELECT * FROM
            (SELECT 
                    9999 AS SEQ,
                    BIZ_REQST_YR AS SELE_YY,
                    BIZ_CD AS ERND_BSNS_CD,
                    '' AS SELE_YY_BSNS_CD,
                    BIZ_NM AS ERND_BSNS_NAME_1,
                    '' AS ERND_BSNS_NAME_2,
                    '' AS ERND_BSNS_NAME_3,
                    '' AS ERND_BSNS_NAME_4,
                    '' AS DBRAIN_CD,
                    '' AS MOEF_DBRAIN_CD,
                    '' AS ERND_DBRAIN_CD,
                    '' AS BSNS_YY,
                    '' AS JRSD_CD,
                    '' AS JRSD_NAME,
                    '' AS ACTG_CD,
                    '' AS ACTG_NAME,
                    '' AS FILD_NAME,
                    '' AS FILD_CD,
                    '' AS SECTOR_NAME,
                    '' AS SECTOR_CD,
                    '' AS PROGRAM_ID,
                    '' AS PROGRAM_NAME,
                    '' AS PROGRAM_CODE,
                    '' AS UNIT_ID,
                    '' AS UNIT_NAME,
                    '' AS UNIT_CD,
                    '' AS PTC_ID,
                    '' AS PTC_NAME,
                    '' AS PTC_CD,
                    '' AS BSNS_CD,
                    0 AS BUD_AM,
                    0 AS STAC_AM,
                    '' AS BRDN_BSNS_NAME,
                    '' AS BRDN_BSNS_NAME2,
                    '' AS IRIS_BSNS_CD,
                    '' AS YY,
                    '' AS PROGRAM_BSNS_CD,
                    '' AS UNIT_BSNS_CD,
                    '' AS PTC_BSNS_CD,
                    '' AS PTC_BSNS_NAME,
                    '' AS Z1
            FROM ERND_BIZ_CD
            WHERE BIZ_REQST_YR||BIZ_CD NOT IN (SELECT SELE_YY_BSNS_CD FROM IRIS_BSNS_CD_MAP)
            ORDER BY BIZ_CD, BIZ_REQST_YR
            )
            WHERE 'N' = #{mappingYn}
        ORDER BY SEQ
        </if>
      ) A
      WHERE 1=1
      <if test="seleYy != null and seleYy != ''">
          AND SELE_YY = #{seleYy}
      </if>
      <if test="erndBsnsCd != null and erndBsnsCd != ''">
          AND ERND_BSNS_CD LIKE '%'||UPPER(#{erndBsnsCd})||'%' 
      </if>
      <if test="irisBsnsCd != null and irisBsnsCd != ''">
          AND IRIS_BSNS_CD LIKE '%'||UPPER(#{irisBsnsCd})||'%'
      </if>
      <if test="limit != null">
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
      </if>
    )
  </select>
    
  <select id="retriveBsnsTempList" resultType="BsnsTempDto" parameterType="BsnsTempDto">      
    SELECT 
          ROWNUM AS NO, 
          A.*
    FROM 
    (          
      SELECT
            UPLOAD_DE,
            UPLOAD_FILE_NM,
            EXCEL_ROW_NUM,
            <include refid="bsnsField"/>
            ,
            CASE WHEN (SELECT COUNT(*) FROM IRIS_BSNS_CD_MAP BM WHERE BM.ERND_BSNS_CD = BMT.ERND_BSNS_CD AND BM.SELE_YY = BMT.SELE_YY AND BM.IRIS_BSNS_CD = BMT.IRIS_BSNS_CD) &gt; 0  THEN '기등록' 
            WHEN (SELECT COUNT(*) FROM IRIS_BSNS_CD_MAP_TEMP IBMT WHERE IBMT.ERND_BSNS_CD = BMT.ERND_BSNS_CD AND IBMT.SELE_YY = BMT.SELE_YY AND IBMT.SELE_YY_BSNS_CD = BMT.SELE_YY_BSNS_CD AND IBMT.IRIS_BSNS_CD = BMT.IRIS_BSNS_CD AND IBMT.UPLOAD_DE = BMT.UPLOAD_DE AND IBMT.UPLOAD_FILE_NM = BMT.UPLOAD_FILE_NM) &gt; 1 THEN '중복데이터 업로드'
            WHEN (SELECT COUNT(*) FROM ERND_BIZ_CD EBC WHERE EBC.BIZ_CD = BMT.ERND_BSNS_CD AND EBC.BIZ_REQST_YR = BMT.SELE_YY) = 0 THEN '사업코드 미존재'
            ELSE '' END AS ERROR_MSG,
            CASE WHEN (SELECT COUNT(*) FROM IRIS_BSNS_CD_MAP BM WHERE BM.ERND_BSNS_CD = BMT.ERND_BSNS_CD AND BM.SELE_YY = BMT.SELE_YY AND BM.IRIS_BSNS_CD = BMT.IRIS_BSNS_CD)	&gt; 0  THEN 'Y' 
            WHEN (SELECT COUNT(*) FROM IRIS_BSNS_CD_MAP_TEMP IBMT WHERE IBMT.ERND_BSNS_CD = BMT.ERND_BSNS_CD AND IBMT.SELE_YY = BMT.SELE_YY AND IBMT.SELE_YY_BSNS_CD = BMT.SELE_YY_BSNS_CD AND IBMT.IRIS_BSNS_CD = BMT.IRIS_BSNS_CD AND IBMT.UPLOAD_DE = BMT.UPLOAD_DE AND IBMT.UPLOAD_FILE_NM = BMT.UPLOAD_FILE_NM) &gt; 1 THEN 'Y'
            WHEN (SELECT COUNT(*) FROM ERND_BIZ_CD EBC WHERE EBC.BIZ_CD = BMT.ERND_BSNS_CD AND EBC.BIZ_REQST_YR = BMT.SELE_YY) = 0 THEN 'Y'
            ELSE 'N' END AS ERROR_YN
      FROM  IRIS_BSNS_CD_MAP_TEMP BMT
      WHERE 1=1
      <if test="uploadDe != null and uploadDe != ''">
          AND UPLOAD_DE = #{uploadDe}
      </if>
      <if test="uploadFileNm != null and uploadFileNm != ''">
          AND UPLOAD_FILE_NM = #{uploadFileNm}
      </if>  
      ORDER BY EXCEL_ROW_NUM
    ) A
    </select>
    
    <select id="retriveBsnsExcelList" resultType="BsnsExcelDto" parameterType="BsnsExcelDto">
      SELECT  ROWNUM AS NO,
            SEQ,
            <include refid="bsnsField"/>
      FROM
      ( 
        <if test="mappingYn != null">
            SELECT 
                SEQ,
                <include refid="bsnsField"/>
            FROM IRIS_BSNS_CD_MAP
            WHERE 'Y' = #{mappingYn}
            UNION ALL
            SELECT * FROM
            (SELECT 
                    9999 AS SEQ,
                    BIZ_REQST_YR AS SELE_YY,
                    BIZ_CD AS ERND_BSNS_CD,
                    '' AS SELE_YY_BSNS_CD,
                    BIZ_NM AS ERND_BSNS_NAME_1,
                    '' AS ERND_BSNS_NAME_2,
                    '' AS ERND_BSNS_NAME_3,
                    '' AS ERND_BSNS_NAME_4,
                    '' AS DBRAIN_CD,
                    '' AS MOEF_DBRAIN_CD,
                    '' AS ERND_DBRAIN_CD,
                    '' AS BSNS_YY,
                    '' AS JRSD_CD,
                    '' AS JRSD_NAME,
                    '' AS ACTG_CD,
                    '' AS ACTG_NAME,
                    '' AS FILD_NAME,
                    '' AS FILD_CD,
                    '' AS SECTOR_NAME,
                    '' AS SECTOR_CD,
                    '' AS PROGRAM_ID,
                    '' AS PROGRAM_NAME,
                    '' AS PROGRAM_CODE,
                    '' AS UNIT_ID,
                    '' AS UNIT_NAME,
                    '' AS UNIT_CD,
                    '' AS PTC_ID,
                    '' AS PTC_NAME,
                    '' AS PTC_CD,
                    '' AS BSNS_CD,
                    0 AS BUD_AM,
                    0 AS STAC_AM,
                    '' AS BRDN_BSNS_NAME,
                    '' AS BRDN_BSNS_NAME2,
                    '' AS IRIS_BSNS_CD,
                    '' AS YY,
                    '' AS PROGRAM_BSNS_CD,
                    '' AS UNIT_BSNS_CD,
                    '' AS PTC_BSNS_CD,
                    '' AS PTC_BSNS_NAME,
                    '' AS Z1
            FROM ERND_BIZ_CD
            WHERE BIZ_REQST_YR||BIZ_CD NOT IN (SELECT SELE_YY_BSNS_CD FROM IRIS_BSNS_CD_MAP)
            ORDER BY BIZ_CD, BIZ_REQST_YR
            )
            WHERE 'N' = #{mappingYn}
        ORDER BY SEQ
        </if>
      ) A
      WHERE 1=1
      <if test="seleYy != null and seleYy != ''">
          AND SELE_YY = #{seleYy}
      </if>
      <if test="erndBsnsCd != null and erndBsnsCd != ''">
          AND ERND_BSNS_CD LIKE '%'||UPPER(#{erndBsnsCd})||'%' 
      </if>
      <if test="irisBsnsCd != null and irisBsnsCd != ''">
          AND IRIS_BSNS_CD LIKE '%'||UPPER(#{irisBsnsCd})||'%'
      </if>
    </select>
    
    <sql id="bsnsParamField">
        #{seleYy},
        #{erndBsnsCd},
        #{seleYyBsnsCd},
        #{erndBsnsName1},
        #{erndBsnsName2},
        #{erndBsnsName3},
        #{erndBsnsName4},
        #{dbrainCd},
        #{moefDbrainCd},
        #{erndDbrainCd},
        #{bsnsYy},
        #{jrsdCd},
        #{jrsdName},
        #{actgCd},
        #{actgName},
        #{fildName},
        #{fildCd},
        #{sectorName},
        #{sectorCd},
        #{programId},
        #{programName},
        #{programCode},
        #{unitId},
        #{unitName},
        #{unitCd},
        #{ptcId},
        #{ptcName},
        #{ptcCd},
        #{bsnsCd},
        #{budAm},
        #{stacAm},
        #{brdnBsnsName},
        #{brdnBsnsName2},
        #{irisBsnsCd},
        #{yy},
        #{programBsnsCd},
        #{unitBsnsCd},
        #{ptcBsnsCd},
        #{ptcBsnsName},
        #{z1}
    </sql>
    
    <insert id="registBsns" parameterType="BsnsDto">
      INSERT INTO IRIS_BSNS_CD_MAP
      (
        SEQ,
        <include refid="bsnsField"/>
      ) VALUES
      (
        (SELECT NVL(MAX(SEQ),0)+1 FROM IRIS_BSNS_CD_MAP),
        <include refid="bsnsParamField"></include>
      )
    </insert>
    
    <insert id="registBsnsTemp" parameterType="BsnsTempDto">
      INSERT INTO IRIS_BSNS_CD_MAP_TEMP
      (
        UPLOAD_DE,
        UPLOAD_FILE_NM,
        EXCEL_ROW_NUM,
        <include refid="bsnsField"/>
      ) VALUES
      (
        #{uploadDe},
        #{uploadFileNm},
        #{excelRowNum},
        <include refid="bsnsParamField"></include>
      )
    </insert>
    
    <delete id="deleteBsnsTemp" parameterType="BsnsTempDto">
      DELETE FROM IRIS_BSNS_CD_MAP_TEMP
      WHERE UPLOAD_DE = #{uploadDe}
      AND UPLOAD_FILE_NM = #{uploadFileNm}
    </delete>
    
</mapper>