<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anyfive.erndtransfer.domain.mapper.CommonMapper">

 
    <select id="retriveHeaderList" resultType="HeaderDto" parameterType="HeaderDto">      
      SELECT 
            ARTCL_ID AS KEY,
            ARTCL_NM AS NAME,
            ARTCL_SZ || 'px' AS WIDTH,
            ARTCL_SORT_CRTR_NM AS ALIGN
      FROM  ERND_ARTCL_INFO 
      WHERE TASK_SE_TBL_NM = #{taskSeTblNm}
    </select>

</mapper>