<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anyfive.erndtransfer.domain.test.mapper.TestMapper">

 
    <select id="selectTest" resultType="com.anyfive.erndtransfer.domain.test.dto.TestDto">
        SELECT 'TEST MSG1' as test1
              ,'TEST MSG2' as test2
              ,'TEST MSG3' as test3
        FROM DUAL
    </select>

</mapper>